#pergunta1{
    display: none;
}
#pergunta2{
    display: none;
}
#pergunta3{
    display: none;
}
#pergunta4{
    display: none;
}
#pergunta5{
    display: none;
}
#errou{
    display: none;
}
#parabens{
    display: none;
}